@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face {
    font-family: 'Mergian Regular Regular';
    font-style: normal;
    font-weight: normal;
    src: local('../mergian-cufonfonts-webfont'), url('../mergian-cufonfonts-webfont/mergian-regular.woff') format('woff');
    }
$titulos: 'Mergian Regular Regular';
$texto: 'Montserrat';
$colornegativo:rgb(45, 45, 45);
$colorpositivo:whitesmoke;

@mixin boton {
    background:linear-gradient(to top,silver, whitesmoke);
    border:outset 2px white;
    border-radius: 10px;
    width: fit-content;
    padding: 5px;
    font-family: $texto;
    font-weight: bold;
}