@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap");
@font-face {
  font-family: "Mergian Regular Regular";
  font-style: normal;
  font-weight: normal;
  src: local("../mergian-cufonfonts-webfont"), url("../mergian-cufonfonts-webfont/mergian-regular.woff") format("woff");
}
header {
  grid-area: header;
  position: fixed;
}
header .navbar {
  background-image: url(../img/medioplato.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  position: fixed;
}
header .navbar .linknav {
  list-style: none;
  font-family: "Alegreya Sans SC";
  display: flex;
  height: 3.6rem;
  margin: 2rem;
  width: 6rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.1rem;
}
header .navbar .linknav.uno {
  transform: translate(-15px, 40px);
}
header .navbar .linknav.uno:hover {
  transform: scale(1.05, 1.05) translate(0px, 40px);
}
header .navbar .linknav.dos {
  /* font-size: 2.1rem;
      color:rgb(95, 80, 0);
      font-weight: bold;*/
  transform: translate(50px, 15px);
}
header .navbar .linknav.dos:hover {
  transform: scale(1.05, 1.05) translate(50px, 15px);
}
header .navbar .linknav.tres {
  transform: translate(75px, 0px);
}
header .navbar .linknav.tres:hover {
  transform: scale(1.05, 1.05) translate(70px, 0px);
}
header .navbar .linknav.cuatro {
  transform: translate(47px, -15px);
}
header .navbar .linknav.cuatro:hover {
  transform: scale(1.05, 1.05) translate(45px, -15px);
}
header .navbar .linknav.cinco {
  transform: translate(-15px, -40px);
}
header .navbar .linknav.cinco:hover {
  transform: scale(1.05, 1.05) translate(-15px, -40px);
}
header .navbar a {
  text-decoration: none;
  color: rgb(45, 45, 45);
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Alegreya Sans SC";
}

h2 {
  font-family: "Alegreya Sans SC";
}

h3 {
  font-family: "Alegreya Sans SC";
}

h4 {
  font-family: "Alegreya Sans SC";
  font-weight: 300;
}

p {
  font-family: "Alegreya Sans SC";
  font-weight: 300;
}

label {
  font-family: "Alegreya Sans SC";
  font-weight: 200;
}

li {
  font-family: "Alegreya Sans SC";
  font-weight: 200;
}

.paginaMesas {
  background-image: url(../img/fondomesasnegro.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-areas: "header mesas mesas pendientes" "header mesas mesas pendientes";
  color: whitesmoke;
}
.paginaMesas .mesas {
  grid-area: mesas;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 14rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.paginaMesas .Mesa {
  min-height: 6rem;
  width: 13rem;
  margin: 3px;
}
.paginaMesas .Mesa .nombreMesa {
  height: 1.5rem;
  border-radius: 10px;
  text-align: center;
  border: 1px solid grey;
  font-family: "Alegreya Sans SC";
  color: whitesmoke;
}
.paginaMesas .Mesa .itemsMesa {
  border-radius: 10px;
  padding: 4px;
}
.paginaMesas .Mesa .itemsMesa li {
  font-family: "Alegreya Sans SC";
  list-style: none;
  margin-bottom: 2px;
  font-size: 0.8rem;
}
.paginaMesas .pendientes {
  grid-area: pendientes;
  border: 3px solid grey;
  border-radius: 10px;
  text-align: left;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 20rem;
  padding: 5px;
  margin: 7px;
}
.paginaMesas .pendientes .pendientesTitulo {
  text-align: center;
  width: 20rem;
}
.paginaMesas .pendientes .pendientesTitulo h2 {
  font-family: "Alegreya Sans SC";
}
.paginaMesas .pendientes .subcajaPendientes {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 9.5rem;
  font-family: "Alegreya Sans SC";
}
.paginaMesas .pendientes .subcajaPendientes h4 {
  font-size: 1rem;
}
.paginaMesas .pendientes .subcajaPendientes li {
  list-style: circle;
}
.paginaMesas .pendientes .itemsPendientes {
  border: 1px solid grey;
  border-radius: 10px;
  height: 100%;
  width: 80%;
  font-size: 0.8rem;
  padding-left: 3px;
  background-color: rgba(205, 205, 205, 0.199);
}

.paginaCocina {
  background-image: url(../img/fondometal.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-areas: "header pendientes mesas mesas" "header pendientes mesas mesas";
  color: whitesmoke;
}
.paginaCocina .navbar {
  background-image: url(../img/mediosarten.png);
}
.paginaCocina .navbar a {
  text-decoration: none;
  color: whitesmoke;
}
.paginaCocina .pendientes {
  grid-area: pendientes;
  border: 3px solid grey;
  border-radius: 10px;
  text-align: left;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 25rem;
  padding: 5px;
  margin: 4px;
  margin-left: 14rem;
}
.paginaCocina .pendientes .pendientesTitulo {
  text-align: center;
  width: 20rem;
}
.paginaCocina .pendientes .pendientesTitulo h2 {
  color: rgb(45, 45, 45);
  font-family: "Alegreya Sans SC";
}
.paginaCocina .pendientes .categoriasPendientes {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.paginaCocina .pendientes .subcajaPendientes {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  height: 9.5rem;
  font-family: "Alegreya Sans SC";
}
.paginaCocina .pendientes .subcajaPendientes h4 {
  font-size: 1rem;
  color: rgb(45, 45, 45);
}
.paginaCocina .pendientes .subcajaPendientes li {
  list-style: circle;
}
.paginaCocina .pendientes .itemsPendientes {
  border: 1px solid grey;
  border-radius: 10px;
  height: 100%;
  width: 80%;
  font-size: 0.8rem;
  padding-left: 3px;
  color: rgb(45, 45, 45);
  background-color: rgba(205, 205, 205, 0.525);
}
.paginaCocina .mesas {
  grid-area: mesas;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.paginaCocina .Mesa {
  min-height: 6rem;
  width: 13rem;
  margin: 3px;
}
.paginaCocina .Mesa .nombreMesa {
  height: 1.5rem;
  border-radius: 10px;
  text-align: center;
  border: 1px solid grey;
  font-family: "Alegreya Sans SC";
  color: rgb(45, 45, 45);
}
.paginaCocina .Mesa .itemsMesa {
  background-color: rgba(205, 205, 205, 0.525);
  border-radius: 10px;
  padding: 4px;
}
.paginaCocina .Mesa .itemsMesa li {
  font-family: "Alegreya Sans SC";
  list-style: none;
  margin-bottom: 2px;
  font-size: 0.8rem;
  color: rgb(45, 45, 45);
}

.paginaCompras {
  background: linear-gradient(to bottom right, #51021F, #860D2E);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-areas: "header entradas inventario inventario" "header entradas inventario inventario" "header ordenes compras compras" "header ordenes compras compras";
  color: whitesmoke;
}
.paginaCompras .navbar .linknav.cinco {
  transform: translate(-5px, -40px);
}
.paginaCompras .navbar .linknav.cinco:hover {
  transform: scale(1.1, 1.1) translate(0px, -40px);
}
.paginaCompras .navbar a {
  text-decoration: none;
  color: rgb(45, 45, 45);
}
.paginaCompras .inventario {
  grid-area: inventario;
  border: 3px solid whitesmoke;
  border-radius: 10px;
  color: whitesmoke;
  width: 45rem;
  font-family: "Alegreya Sans SC";
  padding: 5px;
  margin: 5px;
}
.paginaCompras .inventario h1 {
  font-family: "Alegreya Sans SC";
  text-align: center;
}
.paginaCompras .formEntradas {
  grid-area: entradas;
  border: 3px solid whitesmoke;
  border-radius: 10px;
  color: whitesmoke;
  font-family: "Alegreya Sans SC";
  width: 17rem;
  display: flex;
  flex-flow: column wrap;
  padding: 5px;
  margin: 5px;
  margin-left: 13rem;
  align-items: center;
}
.paginaCompras .formEntradas h2 {
  font-family: "Alegreya Sans SC";
  text-align: center;
}
.paginaCompras .formEntradas p {
  margin-top: 10px;
  margin-bottom: 10px;
}
.paginaCompras .formEntradas .registrarEntrada {
  background: linear-gradient(to top, silver, whitesmoke);
  border: outset 2px white;
  border-radius: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  font-family: "Alegreya Sans SC";
  font-weight: bold;
}
.paginaCompras .ordenes {
  grid-area: ordenes;
  width: 17rem;
  border: 3px solid whitesmoke;
  border-radius: 10px;
  color: whitesmoke;
  font-family: "Alegreya Sans SC";
  display: flex;
  flex-flow: column wrap;
  padding: 5px;
  margin: 5px;
  margin-left: 13rem;
}
.paginaCompras .ordenes h2 {
  font-family: "Alegreya Sans SC";
  text-align: center;
}
.paginaCompras .ordenes .subcajaOrdenes {
  padding-left: 1.5rem;
}
.paginaCompras .compras {
  grid-area: compras;
  width: 45rem;
  border: 3px solid whitesmoke;
  border-radius: 10px;
  color: whitesmoke;
  font-family: "Alegreya Sans SC";
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.paginaCompras .compras .calendario {
  height: 25rem;
}
.paginaCompras .compras h2 {
  font-family: "Alegreya Sans SC";
  text-align: center;
}
.paginaCompras .compras h3 {
  font-family: "Alegreya Sans SC";
  text-align: center;
}

.paginaReporte {
  background: linear-gradient(to bottom right, #6A2915, #DDA67D);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-areas: "header entradas inventario inventario" "header entradas inventario inventario" "header ordenes compras compras" "header ordenes compras compras";
  color: whitesmoke;
}
.paginaReporte .navbar .linknav.cuatro {
  transform: translate(45px, -15px);
}
.paginaReporte .navbar .linknav.cinco {
  transform: translate(-15px, -40px);
}
.paginaReporte .navbar a {
  text-decoration: none;
}

#paginaNota {
  display: grid;
  grid: "buscadorProducto buscadorProducto buscadorProducto notaVenta" "productos productos productos notaVenta" "agregarProducto agregarProducto agregarProducto notaVenta";
  background: linear-gradient(to bottom right, #070A0C, #2b2b2d);
  background-repeat: none;
  background-size: cover;
  padding: 10px;
  color: whitesmoke;
}
#paginaNota #productos {
  grid-area: productos;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  border-top: 3px solid grey;
  border-bottom: 3px solid grey;
  border-radius: 5px;
}
#paginaNota #productos .card {
  text-align: center;
  width: 8.4rem;
  margin: 15px;
  height: 9rem;
}
#paginaNota #productos .card .btnAdd {
  color: whitesmoke;
  align-items: center;
  background: linear-gradient(-45deg, rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0.25));
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -4px -4px 12px 0 rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  border: 0px;
  display: flex;
  justify-content: center;
  background: linear-gradient(-45deg, rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0.25));
  display: inline-block;
  border-radius: 10px;
  padding: 5px;
  width: 8.4rem;
  min-height: 9rem;
  max-height: 12rem;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -5px -5px 12px 0 rgba(89, 89, 89, 0.3);
}
#paginaNota #productos .card .btnAdd h3 {
  font-size: 1rem;
}
#paginaNota #productos .card .btnAdd p {
  font-size: 0.8rem;
}
#paginaNota #productos .card .btnAdd:active {
  align-items: center;
  background: linear-gradient(-45deg, rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0.25));
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -4px -4px 12px 0 rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  border: 0px;
  display: flex;
  justify-content: center;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0.25));
  display: inline-block;
  border-radius: 10px;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(89, 89, 89, 0.3);
}
#paginaNota #notaVenta {
  grid-area: notaVenta;
  border-radius: 10px;
  width: 23rem;
  background: linear-gradient(to bottom right, #6A2915, #DDA67D);
  color: whitesmoke;
  padding: 7px;
  margin-left: 15px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
#paginaNota #notaVenta #cerrarNota {
  background: linear-gradient(to top, silver, whitesmoke);
  border: outset 2px white;
  border-radius: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  font-family: "Alegreya Sans SC";
  font-weight: bold;
  background: linear-gradient(to bottom right, #070A0C, #2b2b2d);
  border: 1px solid black;
  color: whitesmoke;
}
#paginaNota #notaVenta .itemNota {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: flex;
  flex-flow: row, wrap;
  justify-content: flex-start;
  align-items: center;
}
#paginaNota #notaVenta .itemNota .boxTitulo {
  display: flex;
  flex-flow: row, wrap;
  width: 80%;
}
#paginaNota #notaVenta .itemNota .boxPrecio {
  width: 20%;
}
#paginaNota #notaVenta .itemNota h3 {
  margin-left: 5px;
  font-size: 0.9rem;
  font-style: italic;
  font-weight: 500;
}
#paginaNota #notaVenta .itemNota p {
  margin-left: 5px;
}
#paginaNota #buscadorProducto {
  grid: buscadorProducto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 53rem;
}
#paginaNota #buscadorProducto label {
  font-size: 0.9rem;
  height: 1rem;
  width: 30rem;
  text-align: end;
  text-transform: uppercase;
  margin-right: 5px;
}
#paginaNota #buscadorProducto input {
  font-family: "Alegreya Sans SC";
  height: 1rem;
  width: 20rem;
  margin: 3px;
  padding: 4px;
  align-items: center;
  background: linear-gradient(-45deg, rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0.25));
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -4px -4px 12px 0 rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  border: 0px;
  display: flex;
  justify-content: center;
  background: linear-gradient(-45deg, rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0.25));
  color: whitesmoke;
}
#paginaNota #agregarProducto {
  grid-area: agregarProducto;
  display: flex;
  flex-flow: row, wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
#paginaNota #agregarProducto .nuevoProducto {
  margin: 5px;
}
#paginaNota #agregarProducto .nuevoProducto label {
  font-size: 1rem;
  height: 1rem;
}
#paginaNota #agregarProducto .nuevoProducto input {
  font-family: "Alegreya Sans SC";
  height: 1rem;
  width: 20rem;
  margin: 3px;
  padding: 4px;
  align-items: center;
  background: linear-gradient(-45deg, rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0.25));
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -4px -4px 12px 0 rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  border: 0px;
  display: flex;
  justify-content: center;
  background: linear-gradient(-45deg, rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0.25));
}
#paginaNota #agregarProducto .nuevoProducto button {
  margin-top: 5px;
  background: linear-gradient(to top, silver, whitesmoke);
  border: outset 2px white;
  border-radius: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  font-family: "Alegreya Sans SC";
  font-weight: bold;
}/*# sourceMappingURL=estilo.css.map */

