@import "variables";

*{
    margin: 0;
    padding: 0;
}
h1{font-family: $titulos;}
h2{font-family: $titulos;}
h3{font-family: $texto;}
h4{font-family: $texto;
    font-weight: 300;}
p{font-family: $texto;
    font-weight: 300;}
    label{font-family: $texto;
    font-weight: 200;}
    li{font-family: $texto;
        font-weight: 200;}


#paginaNota{
    display: grid;
    grid: 
    "buscadorProducto buscadorProducto buscadorProducto notaVenta"
    "productos productos productos notaVenta"
    "agregarProducto agregarProducto agregarProducto notaVenta";
    background: $fondoNegro;
    background-repeat: none;
    background-size: cover;
    padding: 10px;
    color: $colorpositivo;

#productos{
    grid-area: productos;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center; 
    border-top: 3px solid grey;
    border-bottom: 3px solid grey;
    border-radius: 5px;
    

.card{
    text-align: center;
    width: 8.4rem;
    margin: 15px;
    height: 9rem;
    .btnAdd{
        color: $colorpositivo;
        @include neumoConvex;
        display: inline-block;
        border-radius: 10px;
        padding: 5px;
        width: 8.4rem;
        min-height: 9rem;
        max-height: 12rem;
        box-shadow: 12px 12px 16px 0 rgb(0 0 0 / 25%), -5px -5px 12px 0 rgb(89 89 89 / 30%);
        h3{
            font-size: 1rem;
        }
        p{font-size: 0.8rem;}
        &:active{
            @include neumoConcave;
            display: inline-block;
            border-radius: 10px;
            box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
     -8px -8px 12px 0 rgb(89 89 89 / 30%);
        }
    }
    
}}
#notaVenta{
    grid-area: notaVenta; 
    border-radius: 10px;
    width:23rem;
    background: $fondoDorado;
    color: $colorpositivo;
    padding: 7px;
    margin-left: 15px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    #cerrarNota{
        @include boton;
        background: $fondoNegro;
        border: 1px solid black;
        color: $colorpositivo;
    }
    .itemNota{
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        display: flex;
        flex-flow: row, wrap;
        justify-content: flex-start;
        align-items: center;
        .boxTitulo{
            display: flex;
            flex-flow: row, wrap;
            width: 80%;
        }
        .boxPrecio{
            width: 20%;
        }

        h3{
            margin-left: 5px;
            font-size: 0.9rem;
            font-style: italic;
            font-weight: 500;
        }
        p{
            margin-left: 5px;
        }
    }
}
#buscadorProducto{
    grid: buscadorProducto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 53rem;
    label{
        font-size: 0.9rem;
        height: 1rem;
        width: 30rem;
        text-align: end;
        text-transform: uppercase;  
        margin-right: 5px
    }
    input{
        @include input;
        @include neumoConvex;
        color: $colorpositivo;
    }

}
#agregarProducto{
    grid-area: agregarProducto;
    display: flex;
    flex-flow: row, wrap;
    justify-content:flex-start;
    align-items: flex-start;
    .nuevoProducto{
    margin: 5px;
    label{
        font-size: 1rem;
        height: 1rem;
    }
    input{
        @include input;
        @include neumoConvex;
    }
    button{
        margin-top: 5px;
        @include boton;
    }}
    
}



}